# Customer Segementation for Online Retailing - Data Wrangling

**Abstract:** This project is based on a transnational dataset which contains all the transactions occurring between 1/12/2010 and 9/12/2011 for a UK-based and registered non-store online retail. Through data analysis and modeling,  this project will focus on customer segmentation that will help the retailer make effective marketing decisions to increase its sales and profits.

## Data Wrangling

### Data Collection

In [1]:
#Load python packages
import pandas as pd
import datetime
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
import re
%matplotlib inline

color = sns.color_palette()

In [2]:
df = pd.read_excel('G:\My Drive\Jun\Mechine Learning\Data Science\Capstone Two\Online Retail.xlsx')
df.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom

### Description of columns

| Column | Description |
| :- | :- |
| InvoiceNo | Invoice number. Nominal, a 6-digit integral number uniquely assigned to each transaction. If this code starts with letter 'c', it indicates a cacellation. |
| StockCode | Product (item) code. Nominal, a 5-digit integral number uniquely assigned to each distinct product. |
| Description | Product (item) name. Nominal. |
| Quantity | The quantities of each product (item) per transaction. Numeric. |
| InvoiceDate | Invoice Date and time. Numeric, the day and time when each transaction was generated. |
| UnitPrice | Unit price. Numeric. Product price per unit in sterling. |
| CustomerID | Customer number. Nominal, a 5-digit integral number uniquely assigned to each customer. |
| Country | Country name. Nominal, the name of the country where each customer resides. |

###  Data Cleaning

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  540455 non-null  object
 3   Quantity     541909 non-null  int64
 4   InvoiceDate  541909 non-null  datetime64[ns]
 5   UnitPrice    541909 non-null  float64
 6   CustomerID   406829 non-null  float64
 7   Country      541909 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(1), object(4)
memory usage: 33.1+ MB

In [4]:
# Print the range of values using the aggregate function. 
df.describe().T

,count,mean,std,min,25%,50%,75%,max
Quantity,541909.0,9.552250,218.081158,-80995.00,1.00,3.00,10.00,80995.0
UnitPrice,541909.0,4.611114,96.759853,-11062.06,1.25,2.08,4.13,38970.0
CustomerID,406829.0,15287.690570,1713.600303,12346.00,13953.00,15152.00,16791.00,18287.0

####  Duplicates

In [5]:
df.drop_duplicates(inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 536641 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    536641 non-null  object
 1   StockCode    536641 non-null  object
 2   Description  535187 non-null  object
 3   Quantity     536641 non-null  int64
 4   InvoiceDate  536641 non-null  datetime64[ns]
 5   UnitPrice    536641 non-null  float64
 6   CustomerID   401604 non-null  float64
 7   Country      536641 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(1), object(4)
memory usage: 36.8+ MB

####  Missing values

In [6]:
nas = pd.DataFrame(df.isnull().sum().sort_values(ascending=False)/len(df), columns = ['percent'])
pos = nas['percent'] > 0
nas[pos]

              percent
CustomerID   0.251634
Description  0.002709

Two variables have missing values. Let's look at them individually and think about filling methods.

**Description**: each product has a unique StockCode and description. Therefore it is possible to fill missing discription using StockCode. Bear in mind that in later analysis, only one of StockCode and Description will be used in analysis and modelling, because they are highly correlated.

In [7]:
df['Description'] = df.groupby(["StockCode"])['Description'].transform(lambda x: x.fillna(x.mode()))

nas = pd.DataFrame(df.isnull().sum().sort_values(ascending=False)/len(df), columns = ['percent'])
pos = nas['percent'] > 0
nas[pos]

              percent
CustomerID   0.251634
Description  0.002709

**CustomerID**: each transaction record involves an InvoiceNo, CustomerID and Country. Therefore we might be able to fill in missing CustomerID using InvoiceID and Country.

In [8]:
df_Non_Null = df[df['CustomerID'].isnull()==False].copy()
print(df_Non_Null.shape)

df_Null = df[df['CustomerID'].isnull()==True].copy()
print(df_Null.shape)

df_join = df_Non_Null.merge(df_Null, on = 'InvoiceNo', how = 'inner')
df_join.head()

(401604, 8)
(135037, 8)

Empty DataFrame
Columns: [InvoiceNo, StockCode_x, Description_x, Quantity_x, InvoiceDate_x, UnitPrice_x, CustomerID_x, Country_x, StockCode_y, Description_y, Quantity_y, InvoiceDate_y, UnitPrice_y, CustomerID_y, Country_y]
Index: []

In [9]:
# since we were not able to find appropriate ways to fill the missing data, we will drop the missing values.
df = df.dropna(subset=['Description', 'CustomerID'])

####  Data Types

In [10]:
# set the data types: all columncs look good except that "CustomerID" should be string.
df['CustomerID'] = df['CustomerID'].astype(int).astype(str)
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 401604 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    401604 non-null  object
 1   StockCode    401604 non-null  object
 2   Description  401604 non-null  object
 3   Quantity     401604 non-null  int64
 4   InvoiceDate  401604 non-null  datetime64[ns]
 5   UnitPrice    401604 non-null  float64
 6   CustomerID   401604 non-null  object
 7   Country      401604 non-null  object
dtypes: datetime64[ns](1), float64(1), int64(1), object(5)
memory usage: 27.6+ MB

####  Anomalies and Outliers

In [11]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
Quantity,401604.0,12.183273,250.283037,-80995.0,2.00,5.00,12.00,80995.0
UnitPrice,401604.0,3.474064,69.764035,0.0,1.25,1.95,3.75,38970.0

The distribution of Quantity and UnitPrice is highly skewed. While most purchases are about small Quantity and small UnitPrice, there are a few extra large amount Quantity and UnitPrice.

In [12]:
df[(df.Description.str.len())<15]['Description'].unique()

array(['POSTAGE', 'Discount', 'CHILLI LIGHTS', 'PHOTO CUBE',
       'RETROSPOT LAMP', 'DOORMAT HEARTS', 'WRAP COWBOYS  ',
       'JUMBO BAG OWLS', 'OWL DOORSTOP', 'WICKER STAR ', 'FIRST AID TIN',
       'BUTTON BOX ', 'POLKADOT PEN', 'CARRIAGE', 'RETRO MOD TRAY',
       'Manual', 'BINGO SET', 'CUTE CATS TAPE', 'GLAMOROUS  MUG',
       'LOCAL CAFE MUG', 'Bank Charges', 'SPACE FROG', 'SPACE OWL',
       'KEY FOB , SHED', 'DOGGY RUBBER', 'SKULLS TAPE', 'PARTY BUNTING',
       'PINK DOG BOWL', 'POTTERING MUG', 'SANDALWOOD FAN', 'SOMBRERO ',
       'RAIN PONCHO ', 'MIRROR CORNICE', 'DAISY JOURNAL ',
       'POSY CANDY BAG', 'GOLD WASHBAG', 'WRAP FOLK ART', 'PINK CAT BOWL',
       'FUNKY DIVA PEN', 'RIBBONS PURSE ', 'POMPOM CURTAIN',
       'PINK FLY SWAT', 'BLUE FLY SWAT', 'FROG CANDLE', 'TOYBOX  WRAP ',
       'WRAP, CAROUSEL', 'BUNNY EGG BOX', 'WRAP CAROUSEL',
       'SPOTTY BUNTING', 'LED TEA LIGHTS', 'POPCORN HOLDER',
       'GARAGE KEY FOB', 'PACKING CHARGE', 'CORDIAL JUG',
       'DOTCOM POSTAGE', 'BATHROOM HOOK', 'CHAMBRE HOOK'], dtype=object)

In [13]:
df[(df.StockCode.str.len())<5]['StockCode'].unique()

array(['POST', 'D', 'C2', 'M', 'PADS', 'DOT', 'CRUK'], dtype=object)

In [14]:
df[(df.StockCode.str.len())>5]['StockCode'].unique()

array(['85123A', '84406B', '84029G', '84029E', '82494L', '85099C',
       '84997B', '84997C', '84519A', '85183B', '85071B', '37444A',
       '37444C', '84971S', '15056BL', '15056N', '35004C', '85049A',
       '85099B', '35004G', '85014B', '85014A', '84970S', '84030E',
       '35004B', '85049E', '17091A', '84509A', '84510A', '84709B',
       '84625C', '84625A', '47570B', '85049C', '85049D', '85049G',
       '84970L', '90199C', '90129F', '90210B', '72802C', '85169B',
       '85099F', '85184C', '35591T', '84032B', '85049H', '72800E',
       '84849B', '90200B', '90059B', '90185C', '90059E', '90059C',
       '90200C', '90200D', '90200A', '16258A', '85231B', '85231G',
       '48173C', '47563A', '84558A', '46000M', '71406C', '84985A',
       '84596E', '84997D', '47599A', '47599B', '85035B', '84968C',
       '72800B', '84563A', '47504H', '17164B', '15044B', '84569B',
       '85114B', '85114C', '85199L', '85199S', '85019A', '85019C',
       '85071A', '85071C', '85135B', '85136A', '85136C', '79144B',
       '46000R', '46000S', '84508A', '85232B', '79066K', '84884A',
       '51014C', '51014L', '51014A', '79302M', '84509B', '84870C',
       '84870B', '85032D', '84760S', '35598D', '35598B', '15056P',
       '84032A', '84031A', '84997A', '90214M', '90214V', '90214S',
       '90214J', '72807C', '47591B', '85035C', '72803A', '85034A',
       '72798C', '35271S', '47567B', '72760B', '62096A', '85071D',
       '79191C', '84031B', '47566B', '47590B', '47590A', '85061W',
       '47591D', '84341B', '84509G', '84846A', '85132A', '85132B',
       '85132C', '85159A', '17090D', '17090A', '10124G', '84519B',
       '90175C', '90180A', '90178A', '85025C', '85124B', '85124C',
       '16156S', '85049F', '90082D', '90082A', '90082B', '90081A',
       '90185B', '90195A', '90195B', '90196A', '90199A', '90177C',
       '90186A', '18097A', '18097C', '85185D', '85185B', '15060B',
       '85114A', '72801C', '72801D', 'BANK CHARGES', '84952C', '84952B',
       '35001G', '90002D', '72799E', '47559B', '16161P', '16161M',
       '84247G', '47021G', '85049B', '85131A', '10123C', '84993A',
       '84925D', '84520B', '17084R', '17091J', '85018D', '47503J',
       '84247N', '84247K', '47504K', '37489D', '17107D', '37489B',
       '37489C', '37489A', '84534B', '84536A', '85130A', '85129C',
       '84849A', '84559A', '84559B', '85230B', '85230F', '84849D',
       '84507C', '82616C', '82616B', '90128B', '90196B', '90198B',
       '90152B', '84877D', '47503H', '47343A', '72802A', '72807B',
       '72802B', '84562A', '82011C', '85036B', '85035A', '85034C',
       '84614A', '85135C', '84924A', '35810B', '17109D', '85034B',
       '72800D', '90185D', '90175A', '90162B', '90162D', '84898F',
       '47310M', '84508B', '84279P', '84963A', '72349B', '84993B',
       '85206A', '84536B', '84596G', '77101A', '79149B', '78034B',
       '79151B', '35471D', '85130D', '84569D', '72351A', '84508C',
       '85179A', '84874B', '85167B', '72051S', '72799F', '84535B',
       '75013B', '82011B', '84563B', '82613B', '79190A', '47593B',
       '85129D', '85129B', '84968A', '47369A', '47369B', '47367B',
       '16161U', '84597C', '51020A', '51020B', '90200E', '84596L',
       '84596F', '18098C', '85036C', '85170D', '84531A', '84531B',
       '84809A', '79190D', '84795B', '79191B', '85027L', '85017C',
       '35001W', '84707B', '72807A', '84968F', '79030D', '37479B',
       '37482P', '47594A', '84926D', '84926A', '72801G', '84711A',
       '16169N', '35597A', '35597B', '84596B', '79030G', '72351B',
       '84912A', '85036A', '84569A', '90179C', '90060D', '79051A',
       '85169A', '17007B', '10124A', '46000P', '40005B', '18094C',
       '47586A', '46115B', '15044C', '84925F', '16169K', '84707A',
       '47574A', '37479P', '84912B', '17084J', '84968D', '85232D',
       '84247E', '85170B', '84596J', '85170A', '85026B', '90175D',
       '82001S', '90212B', '90212C', '47348A', '90214C', '90214B',
       '90214K', '85039C', '85024C', '84613C', '84910A', '16202E',
       '90184B', '90184A', '84415B', '71496A', '71495B', '85230G',
       '35833P', '16168M', '84952A', '84706D', '84247L', '85170C',
       '84875B', '84876D', '90211B', '79190B', '90036D', '37444B',
       '85039B', '85040B', '17084N', '17084P', '84798A', '84913B',
       '84913A', '85032A', '85032C', '47578A', '84951A', '84951B',
       '17165D', '15058A', '16169P', '90081C', '84595E', '84459B',
       '35915B', '85086A', '81950V', '17012D', '17012B', '17012E',
       '17012F', '35004P', '15058B', '85230E', '84509C', '90186B',
       '90190C', '90003D', '90003C', '90067A', '90003B', '85032B',
       '85017B', '47593A', '85136B', '85031A', '84660B', '85040A',
       '90036E', '90160A', '90160B', '90161B', '90160C', '90160D',
       '82011A', '85183A', '35610B', '35610C', '84927E', '90129A',
       '90120D', '90162C', '90014B', '84575A', '84313C', '84313B',
       '90125D', '90210A', '85169D', '90210C', '90210D', '35095B',
       '84927A', '85194L', '84660A', '84509E', '82613C', '47503A',
       '90125A', '85180B', '85180A', '85159B', '84660C', '90058B',
       '84597B', '62094B', '84673A', '84673B', '17013D', '82613D',
       '90185A', '90161D', '90161C', '90129C', '90129B', '85039A',
       '35610A', '35817P', '35599B', '90042A', '90060B', '90035A',
       '90179A', '84751B', '84507B', '17012C', '17014A', '17012A',
       '47594B', '90209C', '84877B', '84078A', '84926F', '35911A',
       '85031C', '84613A', '85169C', '84750B', '72800C', '17011F',
       '35809A', '35810A', '35607A', '84859A', '85031B', '85205B',
       '85163A', '85163B', '85232A', '46000U', '90177D', '90161A',
       '90177B', '90198A', '90199D', '90014A', '90178B', '85023B',
       '84804A', '84800L', '84800M', '84802A', '84806A', '16207A',
       '85130B', '84249A', '90027A', '90027D', '90019A', '90040A',
       '90120C', '90040B', '85230A', '90214D', '72225C', '82613A',
       '85135A', '15044A', '84459A', '90165B', '16206B', '46138B',
       '47585A', '84926E', '85194S', '35911B', '84989A', '84968E',
       '79071B', '16169M', '84931A', '84931B', '35909A', '35910A',
       '84927F', '79323B', '47518F', '16156L', '85025B', '47351B',
       '84251B', '84251G', '84251C', '84510C', '84741C', '90123B',
       '90123C', '90122A', '90184C', '90122C', '75049L', '85023C',
       '79323P', '44091A', '85019B', '16207B', '47556B', '62086A',
       '35912B', '85206B', '84745A', '84745B', '85186C', '90010B',
       '85186A', '90125B', '85131D', '85131C', '85131B', '84806B',
       '85188B', '15044D', '35095A', '84796B', '79323W', '37379A',
       '90214R', '84510E', '84801A', '84927D', '84800S', '79192A',
       '85130C', '40046A', '72799C', '71101E', '79191D', '90214G',
       '46775D', '90197B', '90125C', '35913B', '90123D', '90123A',
       '90010E', '90016B', '90016A', '85188A', '85160B', '85024B',
       '71496B', '35915C', '17028J', '17084A', '84795C', '62074B',
       '84279B', '84801B', '84805A', '17136A', '84712B', '84708B',
       '44089A', '84086C', '84429A', '37462E', '90037B', '15058C',
       '84659A', '35815P', '90202B', '90202C', '90039C', '90120B',
       '90122B', '90010A', '90064B', '90011B', '90064A', '90063A',
       '90063B', '44089C', '35909B', '90180B', '90152C', '90152A',
       '90018A', '84663A', '35637A', '84661C', '84857C', '84859C',
       '79063D', '79062D', '47341A', '44092C', '44092B', '90018B',
       '90065A', '90024F', '90026D', '90024C', '90000B', '90000D',
       '90000A', '90026C', '90026B', '35638A', '90209B', '84876B',
       '46776B', '35637C', '90214A', '84809B', '84858C', '72140E',
       '35916C', '84802B', '84803B', '16020C', '46776C', '90141C',
       '90141A', '90183C', '90124B', '79026B', '35607B', '84798B',
       '90040C', '90038B', '90038C', '90214P', '35916A', '62096B',
       '16248B', '84086B', '79063C', '84535A', '16202A', '85098B',
       '17129F', '16161G', '90201B', '47013A', '84968B', '35910B',
       '46776E', '84750A', '37488A', '47344B', '46126A', '90036F',
       '90030B', '47013C', '84796A', '84569C', '85028S', '85028L',
       '85017A', '90164A', '90124A', '90124C', '84743C', '90014C',
       '35809B', '84877A', '84875D', '84872A', '90024D', '90001C',
       '90025A', '90142D', '37487B', '84856S', '44242B', '46776A',
       '46776F', '46776D', '16202B', '79144C', '72024U', '90164B',
       '90163A', '90163B', '16244B', '47341B', '62097B', '62043B',
       '90201D', '90201C', '90201A', '71495A', '84705C', '90058A',
       '35599D', '84859B', '90036A', '90130B', '90036C', '16151A',
       '90039D', '90039B', '90039A', '90035C', '47574B', '84661A',
       '90214Y', '84873A', '84804B', '90202D', '84984B', '84984A',
       '90013C', '90141B', '90125E', '84711B', '84206C', '90059F',
       '90206C', '90206A', '35818P', '90214E', '84661B', '84415A',
       '90214L', '90214N', '90214H', '16162L', '90026A', '90036B',
       '90001A', '90001D', '90001B', '90190B', '90190A', '90187B',
       '85168B', '72369A', '90176D', '81952B', '81952V', '81950B',
       '90205C', '90205A', '84706F', '44242A', '84924F', '81953B',
       '81953P', '90214I', '90030C', '90030A', '90141D', '90141E',
       '37491D', '37491B', '37491C', '84402B', '16162M', '84857B',
       '84732D', '84732B', '84387A', '16169E', '35638B', '84984D',
       '85179C', '90019B', '84963B', '90209A', '90013A', '35816P',
       '35597D', '35818B', '35916B', '84206A', '84201B', '90176C',
       '90176E', '90003E', '90018C', '90024B', '90211A', '84201C',
       '35819B', '90183A', '90019C', '90038A', '35819P', '84805B',
       '90059A', '90059D', '90202A', '90177A', '90177E', '90182C',
       '90129D', '90129E', '90012A', '79157V', '90189A', '90012B',
       '90025F', '79157B', '90181A', '90199B', '90176A', '90176B',
       '90162A', '79161A', '90065B', '17191A', '35598C', '35598A',
       '84206B', '90130A', '90011A', '90214F', '90214O', '90214T',
       '90214U', '90214W', '90214Z'], dtype=object)

In [15]:
df_cancelled = df[df.Quantity < 0]
df_cancelled.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8872 entries, 141 to 541717
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   InvoiceNo    8872 non-null   object
 1   StockCode    8872 non-null   object
 2   Description  8872 non-null   object
 3   Quantity     8872 non-null   int64
 4   InvoiceDate  8872 non-null   datetime64[ns]
 5   UnitPrice    8872 non-null   float64
 6   CustomerID   8872 non-null   object
 7   Country      8872 non-null   object
dtypes: datetime64[ns](1), float64(1), int64(1), object(5)
memory usage: 623.8+ KB

In [16]:
df_cancelled.to_csv(r'G:\My Drive\Jun\Mechine Learning\Data Science\Capstone Two\CancelledOrders.csv')

In [17]:
def remove_cancelled_transactions(df):
    trans_neg = df.Quantity < 0
    return df.loc[~(trans_neg | trans_neg.shift(-1))]

groups = [df.CustomerID, df.StockCode, df.Quantity.abs()]
df1 = df.groupby(groups, as_index=False, group_keys=False).apply(remove_cancelled_transactions)

In [18]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 389872 entries, 148306 to 198740
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    389872 non-null  object
 1   StockCode    389872 non-null  object
 2   Description  389872 non-null  object
 3   Quantity     389872 non-null  int64
 4   InvoiceDate  389872 non-null  datetime64[ns]
 5   UnitPrice    389872 non-null  float64
 6   CustomerID   389872 non-null  object
 7   Country      389872 non-null  object
dtypes: datetime64[ns](1), float64(1), int64(1), object(5)
memory usage: 26.8+ MB

In [19]:
df1.to_csv(r'G:\My Drive\Jun\Mechine Learning\Data Science\Capstone Two\CancelledOrdersRemoved.csv')

In [20]:
df1 = pd.read_csv('G:\My Drive\Jun\Mechine Learning\Data Science\Capstone Two\CancelledOrdersRemoved.csv')
df1.head()

,Unnamed: 0,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,148306,549222,16008,SMALL FOLDING SCISSOR(POINTED EDGE),24,2011-04-07 10:43:00,0.25,12347,Iceland
1,220583,556201,17021,NAMASTE SWAGAT INCENSE,36,2011-06-09 13:01:00,0.30,12347,Iceland
2,148289,549222,20665,RED RETROSPOT PURSE,6,2011-04-07 10:43:00,2.95,12347,Iceland
3,72249,542237,20719,WOODLAND CHARLOTTE BAG,10,2011-01-26 14:30:00,0.85,12347,Iceland
4,286629,562032,20719,WOODLAND CHARLOTTE BAG,10,2011-08-02 08:48:00,0.85,12347,Iceland

In [21]:
df1[(df1.StockCode.str.len())<5]['StockCode'].unique()

array(['POST', 'M', 'C2', 'PADS', 'DOT'], dtype=object)

In [22]:
df1[(df1.StockCode.str.len())>5]['StockCode'].unique()

array(['47559B', '47567B', '51014C', '84558A', '84559A', '84559B',
       '84625A', '84625C', '84997B', '84997C', '84997D', '85167B',
       '85232D', '47504H', '84078A', '85014A', '85014B', '79066K',
       '79191C', '84086C', '84510A', '72802A', '72802B', '72802C',
       '85040A', '84535B', '84569D', '85184C', '15056BL', '15056P',
       '35598B', '35598D', '35599B', '35599D', '84029E', '84029G',
       '84030E', '85159A', '85159B', '15056N', '15060B', '82613B',
       '82613C', '82613D', '85099B', '85099C', '85099F', '84997A',
       '85185B', '47566B', '47591D', '82001S', '84569A', '84569B',
       '85230B', '16156L', '16156S', '16161U', '16169M', '47590A',
       '47590B', '72807A', '84884A', '18097C', '35912B', '35913B',
       '47574A', '79302M', '85123A', '85180B', '85194L', '85199L',
       '85199S', '17012D', '85034A', '85034C', '85035A', '85035B',
       '85035C', '85036A', '85036B', '85036C', '46775D', '85206A',
       '15058B', '47599A', '84912A', '85049G', '16169E', '35471D',
       '85132C', '84563A', '84563B', '84279P', '84970L', '84970S',
       '16258A', '51014A', '84536A', '46000U', '84509A', '16161P',
       '85049E', '84279B', '35810A', '47593B', '72225C', '84536B',
       '84596B', '84596F', '84596G', '84596L', '47518F', '84968E',
       '84031A', '84031B', '84519A', '84519B', '85071A', '85071B',
       '85071C', '85132A', '85183B', '84509B', '84613A', '84796B',
       '90001B', '90001D', '90018C', '90019A', '90024B', '90036E',
       '90120B', '90164A', '84796A', '79190A', '79190B', '79191B',
       '85169A', '85169D', '85170D', '85230E', '85230G', '85232A',
       '47503A', '47504K', '16161G', '15058A', '35809A', '35915B',
       '35916C', '47367B', '47585A', '47599B', '72760B', '72801C',
       '72801D', '79030G', '84531A', '84531B', '84673B', '84849B',
       '84913A', '84968A', '84968C', '84968D', '84968F', '85017B',
       '85049C', '85049D', '85049F', '35004B', '35004C', '35004G',
       '35637A', '84663A', '85114B', '85114C', '85183A', '17091J',
       '35001G', '35637C', '85049A', '46000M', '46000S', '72807C',
       '82494L', '85231B', '85034B', '85019B', '84659A', '16169K',
       '47310M', '84520B', '85049H', '85061W', '85131A', '48173C',
       '47594A', '85032B', '84247L', '84341B', '35819P', '84913B',
       '84926D', '84931A', '85032C', '85130B', '35910A', '35910B',
       '84251G', '35810B', '84849D', '15044A', '44242B', '84406B',
       '47594B', '79051A', '84032A', '85169B', '85169C', '17107D',
       '35911A', '37479P', '37482P', '51014L', '72349B', '72351B',
       '72803A', '75013B', '84249A', '84251B', '84251C', '84898F',
       '84931B', '47351B', '84596E', '71406C', '84711A', '84870B',
       '84870C', '90013C', '85130C', '15044B', '15044D', '85032D',
       '85027L', '85032A', '40046A', '90202D', '16168M', '72351A',
       '85170C', '47570B', '84509G', '90184B', '90184C', '17012A',
       '17012B', '47578A', '85039A', '37444C', '62094B', '84912B',
       '85132B', '84800L', '85019C', '84459A', '84429A', '15044C',
       '84707B', '84963A', '84927A', '84927F', '85194S', '15058C',
       '84952B', '79144B', '47344B', '85163A', '90030A', '90030B',
       '90030C', '90160A', '90160B', '90160C', '90160D', '90161B',
       '90161C', '90161D', '90201A', '90201B', '90201C', '90201D',
       '72807B', '17011F', '85205B', '84509C', '84509E', '84874B',
       '85136C', '84596J', '84927D', '84927E', '47341A', '47341B',
       '84859C', '90037B', '84849A', '84660A', '84660B', '84660C',
       '71101E', '85135C', '72800E', '84614A', '72799E', '72799F',
       '72800C', '47343A', '47348A', '47563A', '79063C', '85179A',
       '85179C', '85180A', '81950B', '85124B', '85124C', '16169P',
       '17007B', '17012C', '17012F', '35001W', '37489A', '37489B',
       '37489C', '37489D', '51020A', '51020B', '72799C', '75049L',
       '78034B', '79071B', '79149B', '79151B', '79161A', '81952V',
       '82616B', '82616C', '84032B', '84206A', '84459B', '84535A',
       '84569C', '84595E', '84673A', '84709B', '84795B', '84801A',
       '84859A', '84859B', '84875B', '84876B', '84877D', '84952C',
       '84984A', '84984B', '84985A', '84993A', '85017C', '85018D',
       '85019A', '85023B', '85071D', '85086A', '85135B', '85136A',
       '85160B', '90003D', '90059B', '90059C', '90059E', '90059F',
       '90082B', '90082D', '90152A', '90161A', '90177B', '90177D',
       '90180B', '90184A', '90198A', '90211A', '90214D', '85131C',
       '71495B', '71496A', '84971S', '84806B', '90162A', '90162B',
       '84247G', '46776C', '46776F', '46000R', '35591T', '35911B',
       '77101A', '85186A', '79190D', '90013A', '17013D', '17129F',
       '37444A', '85231G', '85114A', '84247N', '90185D', '72800B',
       '35915C', '84741C', '37487B', '62086A', '84575A', '85031A',
       '85025B', '90058A', '90000A', '90000B', '90000D', '90014B',
       '90016B', '90018B', '90024C', '90024F', '90026B', '90026C',
       '90026D', '90063A', '90064A', '90065A', '84926E', '17136A',
       '84925F', '35815P', '85129D', '84534B', '35818P', '35095B',
       '47369A', '84508A', '85039B', '85186C', '18098C', '90120D',
       '90129A', '90162D', '17084A', '17084N', '18094C', '82011A',
       '82011C', '90214C', '35095A', '85129C', '85130A', '85131D',
       '84313C', '84562A', '84597B', '84597C', '10124A', '84750B',
       '17084P', '17090A', '17090D', '85129B', '90058B', '90014A',
       '90014C', '84798A', '17012E', '47591B', '84876D', '35833P',
       '84924A', '84951B', '90164B', '84926F', '85185D', '47586A',
       '84951A', '85130D', '84707A', '17091A', '35638A', '84508B',
       '84508C', '17084J', '84800M', '84800S', '84809A', '84846A',
       '85025C', '90010E', '90016A', '90123A', '90123D', '90195A',
       '90196A', '84952A', '47013A', '47013C', '79030D', '84925D',
       '35816P', '35818B', '72051S', '72800D', '84751B', '90035A',
       '90042A', '90060B', '90060D', '90142D', '90178A', '90179A',
       '16202A', '16020C', '82613A', '84993B', '85039C', '85170B',
       '84745A', '84745B', '84857C', '16244B', '35607B', '47593A',
       '79026B', 'BANK CHARGES', '90018A', '90036C', '90200D', '90210B',
       '90210D', '71496B', '90123C', '90141B', '84247E', '84507C',
       '90186B', '72801G', '37479B', '46138B', '62043B', '72140E',
       '85188A', '46000P', '46776A', '46776B', '46776E', '85028S',
       '84711B', '84661A', '85230A', '85026B', '90214E', '90214I',
       '90214P', '17014A', '84510C', '90010A', '90175A', '90198B',
       '90200A', '47021G', '90200B', '90200E', '90210C', '17028J',
       '84795C', '16248B', '90162C', '84989A', '90035C', '90206C',
       '84706D', '85040B', '84926A', '17164B', '47574B', '85188B',
       '81950V', '79323B', '85232B', '81952B', '84661B', '84661C',
       '16151A', '35638B', '37488A', '84313B', '84402B', '84705C',
       '84857B', '84858C', '85024B', '90063B', '90176A', '90176B',
       '90176D', '90181A', '90196B', '90199A', '90199B', '90199C',
       '90211B', '17165D', '84510E', '90040C', '44092B', '44092C',
       '35819B', '84247K', '90214A', '90214B', '90214F', '90214G',
       '90214H', '90214J', '90214K', '90214L', '90214M', '90214N',
       '90214O', '90214R', '90214S', '90214T', '90214U', '90214V',
       '90214W', '90214Y', '90214Z', '90200C', '90129B', '90129C',
       '90129D', '90129E', '17109D', '84507B', '90124A', '90124B',
       '90124C', '90197B', '35909B', '85230F', '46776D', '82011B',
       '90002D', '79144C', '90039A', '90039B', '90039D', '84875D',
       '85028L', '84872A', '10123C', '16162L', '47503H', '47503J',
       '72798C', '85049B', '84708B', '84712B', '85163B', '85168B',
       '16207B', '47369B', '85131B', '79062D', '90019C', '72024U',
       '17084R', '37444B', '81953B', '81953P', '84806A', '85024C',
       '90003C', '84415A', '90125A', '62096A', '90082A', '90129F',
       '90038B', '90038C', '90040A', '90120C', '84798B', '16202B',
       '46126A', '71495A', '79063D', '84387A', '90125C', '90125D',
       '90176C', '90176E', '90209B', '90209C', '85135A', '90185A',
       '90185C', '16161M', '84877B', '85136B', '84706F', '90180A',
       '79191D', '84760S', '44089C', '84732B', '84732D', '62074B',
       '90036D', '90036F', '84201C', '84802A', '84804A', '90065B',
       '90195B', '90125B', '90123B', '90175D', '84801B', '84802B',
       '84803B', '90040B', '90141A', '90141C', '90183C', '37462E',
       '62097B', '90175C', '84968B', '84804B', '35607A', '84805B',
       '90064B', '90122A', '35004P', '35817P', '90003B', '90190C',
       '85206B', '85031B', '79192A', '79157V', '90019B', '90025A',
       '90183A', '90189A', '90199D', '16207A', '37491B', '37491C',
       '37491D', '35916A', '16206B', '90141D', '90141E', '90205A',
       '90205C', '35598C', '44089A', '90179C', '85017A', '90010B',
       '90024D', '18097A', '35597A', '35597B', '90001A', '90026A',
       '90036A', '90036B', '90177C', '90187B', '90190A', '90190B',
       '90130B', '90011B', '90038A', '90212C', '90163A', '84805A',
       '90210A', '90067A', '90027A', '90027D', '84415B', '35610B',
       '35610C', '35909A', '35809B', '84924F', '84984D', '90081A',
       '90081C', '35610A', '16162M', '44091A', '84086B', '16202E',
       '84873A', '40005B', '35916B', '90209A', '47556B', '62096B',
       '90003E', '35597D', '90165B', '10124G', '84201B', '84206C',
       '90185B', '84910A', '35598A', '90122C', '17191A', '90012A',
       '85031C', '90206A', '90012B', '84877A', '16169N', '90178B',
       '84963B', '46115B', '90128B', '90152B', '90152C', '90186A',
       '90163B', '79157B', '90011A', '90130A', '90212B', '90039C',
       '90122B', '90202B', '90202C', '90001C', '90125E', '90025F',
       '37379A', '84809B', '72369A', '84743C', '85170A', '35271S',
       '44242A', '84613C', '84206B'], dtype=object)

In [23]:
df1[(df1.StockCode.str.isalpha())>0]['StockCode'].unique()

array(['POST', 'M', 'PADS', 'DOT'], dtype=object)

In [24]:
df2 = df1.drop(df1[(df1.StockCode.str.len())<5].index).reset_index(drop=True)
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 388390 entries, 0 to 388389
Data columns (total 9 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   Unnamed: 0   388390 non-null  int64
 1   InvoiceNo    388390 non-null  int64
 2   StockCode    388390 non-null  object
 3   Description  388390 non-null  object
 4   Quantity     388390 non-null  int64
 5   InvoiceDate  388390 non-null  object
 6   UnitPrice    388390 non-null  float64
 7   CustomerID   388390 non-null  int64
 8   Country      388390 non-null  object
dtypes: float64(1), int64(4), object(4)
memory usage: 26.7+ MB

In [25]:
df2 = df2.drop(df2[(df2.StockCode.str.len())>6].index).reset_index(drop=True)

In [26]:
df2.describe().T

,count,mean,std,min,25%,50%,75%,max
Unnamed: 0,388090.0,278441.393684,152607.755537,0.0,148556.50,284835.50,409844.75,541908.0
InvoiceNo,388090.0,560616.141926,13092.078794,536365.0,549242.00,561889.00,572076.00,581587.0
Quantity,388090.0,12.702517,46.753003,1.0,2.00,6.00,12.00,12540.0
UnitPrice,388090.0,2.851258,3.983498,0.0,1.25,1.85,3.75,649.5
CustomerID,388090.0,15297.050715,1710.309331,12347.0,13969.00,15159.00,16796.00,18287.0

In [27]:
df2 = df2[df2.UnitPrice!=0]

In [28]:
df2.describe().T

,count,mean,std,min,25%,50%,75%,max
Unnamed: 0,388057.0,278441.310302,152606.978516,0.00,148559.00,284834.00,409841.00,541908.0
InvoiceNo,388057.0,560616.136220,13092.004363,536365.00,549243.00,561889.00,572076.00,581587.0
Quantity,388057.0,12.667837,42.203930,1.00,2.00,6.00,12.00,4800.0
UnitPrice,388057.0,2.851500,3.983581,0.04,1.25,1.85,3.75,649.5
CustomerID,388057.0,15297.139536,1710.288514,12347.00,13969.00,15159.00,16796.00,18287.0

In [29]:
df2[df2.Quantity >1000]

,Unnamed: 0,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
3929,321304,565145,22492,MINI PAINT SET VINTAGE,1152,2011-09-01 13:50:00,0.55,12415,Australia
32329,19871,537899,22328,ROUND SNACK BOXES SET OF 4 FRUITS,1488,2010-12-09 10:44:00,2.55,12755,Japan
34093,511421,579498,23084,RABBIT NIGHT LIGHT,2040,2011-11-29 15:52:00,1.79,12798,Japan
37682,25920,538420,17096,ASSORTED LAQUERED INCENSE HOLDERS,1728,2010-12-12 12:03:00,0.17,12875,United Kingdom
38349,516562,579936,21787,RAIN PONCHO RETROSPOT,1200,2011-12-01 10:07:00,0.65,12901,United Kingdom
...,...,...,...,...,...,...,...,...,...
370296,424310,573261,22197,POPCORN HOLDER,1992,2011-10-28 12:32:00,0.72,17949,United Kingdom
376897,97432,544612,22053,EMPIRE DESIGN ROSETTE,3906,2011-02-22 10:43:00,0.82,18087,United Kingdom
377586,16436,537659,22188,BLACK HEART CARD HOLDER,1008,2010-12-07 16:43:00,2.31,18102,United Kingdom
377608,16435,537659,22189,CREAM HEART CARD HOLDER,1008,2010-12-07 16:43:00,2.31,18102,United Kingdom
381110,185919,552833,23167,SMALL CERAMIC TOP STORAGE JAR,1350,2011-05-11 14:14:00,0.69,18133,United Kingdom

In [30]:
df2[df2.UnitPrice >200]

,Unnamed: 0,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
44378,205759,554836,22655,VINTAGE RED KITCHEN CABINET,1,2011-05-26 16:25:00,295.0,13015,United Kingdom
54943,4989,536835,22655,VINTAGE RED KITCHEN CABINET,1,2010-12-02 18:06:00,295.0,13145,United Kingdom
71501,118769,546480,22656,VINTAGE BLUE KITCHEN CABINET,1,2011-03-14 11:38:00,295.0,13452,United Kingdom
71502,133994,547814,22656,VINTAGE BLUE KITCHEN CABINET,1,2011-03-25 14:19:00,295.0,13452,United Kingdom
179583,171178,551393,22656,VINTAGE BLUE KITCHEN CABINET,1,2011-04-28 12:22:00,295.0,14973,United Kingdom
190602,222682,556446,22502,PICNIC BASKET WICKER 60 PIECES,1,2011-06-10 15:33:00,649.5,15098,United Kingdom

In [31]:
df2[(df2.Description.str.len())<15]['Description'].unique()

array(['DOORMAT HEARTS', 'RETRO MOD TRAY', 'PINK DOG BOWL',
       'SPOTTY BUNTING', 'RETROSPOT LAMP', 'OWL DOORSTOP',
       'LOCAL CAFE MUG', 'FIRST AID TIN', 'PARTY BUNTING',
       'JUMBO BAG OWLS', 'PHOTO CUBE', 'POPCORN HOLDER', 'WRAP COWBOYS  ',
       'WRAP CAROUSEL', 'SPACE FROG', 'SPACE OWL', 'MIRROR CORNICE',
       'POLKADOT PEN', 'POMPOM CURTAIN', 'LED TEA LIGHTS',
       'TOYBOX  WRAP ', 'POTTERING MUG', 'BINGO SET', 'KEY FOB , SHED',
       'BUTTON BOX ', 'FUNKY DIVA PEN', 'SANDALWOOD FAN', 'BLUE FLY SWAT',
       'CHILLI LIGHTS', 'GLAMOROUS  MUG', 'WICKER STAR ',
       'CUTE CATS TAPE', 'WRAP FOLK ART', 'SOMBRERO ', 'SKULLS TAPE',
       'DOGGY RUBBER', 'PACKING CHARGE', 'RIBBONS PURSE ',
       'PINK CAT BOWL', 'DAISY JOURNAL ', 'RAIN PONCHO ',
       'GARAGE KEY FOB', 'PINK FLY SWAT', 'BUNNY EGG BOX',
       'WRAP, CAROUSEL', 'BATHROOM HOOK', 'CHAMBRE HOOK', 'FROG CANDLE',
       'POSY CANDY BAG', 'GOLD WASHBAG', 'CORDIAL JUG'], dtype=object)

In [32]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 388057 entries, 0 to 388089
Data columns (total 9 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   Unnamed: 0   388057 non-null  int64
 1   InvoiceNo    388057 non-null  int64
 2   StockCode    388057 non-null  object
 3   Description  388057 non-null  object
 4   Quantity     388057 non-null  int64
 5   InvoiceDate  388057 non-null  object
 6   UnitPrice    388057 non-null  float64
 7   CustomerID   388057 non-null  int64
 8   Country      388057 non-null  object
dtypes: float64(1), int64(4), object(4)
memory usage: 29.6+ MB

Let's add a few features to the dataset.

In [34]:
df2['InvoiceDate'] = pd.to_datetime(df2['InvoiceDate'])

In [35]:
# for the purpose of time series analysis, let's split the InvoiceDate into details.
df2['Day'] = df2['InvoiceDate'].dt.day
df2['Month'] = df2['InvoiceDate'].dt.month
df2['Year'] = df2['InvoiceDate'].dt.year
df2['Weekday'] = df2['InvoiceDate'].dt.day_name()
df2['Month_year'] = pd.to_datetime(df2[['Year', 'Month']].assign(Day=1))
df2['Day_Month_Year'] = pd.to_datetime(df2[['Year', 'Month', 'Day']])
df2['Hour'] = df2['InvoiceDate'].dt.hour

In [36]:
# adding a column of "revenue"
df2['Spending'] = df2['UnitPrice']*df2['Quantity']

In [37]:
# now check on how the data look like.
df2.head()

,Unnamed: 0,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,Day,Month,Year,Weekday,Month_year,Day_Month_Year,Hour,Spending
0,148306,549222,16008,SMALL FOLDING SCISSOR(POINTED EDGE),24,2011-04-07 10:43:00,0.25,12347,Iceland,7,4,2011,Thursday,2011-04-01,2011-04-07,10,6.0
1,220583,556201,17021,NAMASTE SWAGAT INCENSE,36,2011-06-09 13:01:00,0.30,12347,Iceland,9,6,2011,Thursday,2011-06-01,2011-06-09,13,10.8
2,148289,549222,20665,RED RETROSPOT PURSE,6,2011-04-07 10:43:00,2.95,12347,Iceland,7,4,2011,Thursday,2011-04-01,2011-04-07,10,17.7
3,72249,542237,20719,WOODLAND CHARLOTTE BAG,10,2011-01-26 14:30:00,0.85,12347,Iceland,26,1,2011,Wednesday,2011-01-01,2011-01-26,14,8.5
4,286629,562032,20719,WOODLAND CHARLOTTE BAG,10,2011-08-02 08:48:00,0.85,12347,Iceland,2,8,2011,Tuesday,2011-08-01,2011-08-02,8,8.5

In [38]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 388057 entries, 0 to 388089
Data columns (total 17 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   Unnamed: 0      388057 non-null  int64
 1   InvoiceNo       388057 non-null  int64
 2   StockCode       388057 non-null  object
 3   Description     388057 non-null  object
 4   Quantity        388057 non-null  int64
 5   InvoiceDate     388057 non-null  datetime64[ns]
 6   UnitPrice       388057 non-null  float64
 7   CustomerID      388057 non-null  int64
 8   Country         388057 non-null  object
 9   Day             388057 non-null  int64
 10  Month           388057 non-null  int64
 11  Year            388057 non-null  int64
 12  Weekday         388057 non-null  object
 13  Month_year      388057 non-null  datetime64[ns]
 14  Day_Month_Year  388057 non-null  datetime64[ns]
 15  Hour            388057 non-null  int64
 16  Spending        388057 non-null  float64
dtypes: datetime64[ns](3), float64(2), int64(8), object(4)
memory usage: 53.3+ MB

In [39]:
df2.to_csv(r'G:\My Drive\Jun\Mechine Learning\Data Science\Capstone Two\CleanData.csv')